asgiref==3.2.7
Django==3.0.6
django-crispy-forms==1.9.1
django-registration-redux==2.8
importlib-metadata==1.6.0
path==14.0.1
Pillow==9.0.0
pytz==2020.1
sqlparse==0.3.1
Unipath==1.1
whitenoise==5.1.0
zipp==3.1.0
