{% extends 'base.html' %}

{% block content %}
<br>
<div class="container">
<div class="float-right  d-none">
    <form class="form-inline ml-auto">
      <div class="md-form my-0">
        <input class="form-control" type="text" placeholder="Buscar" aria-label="Buscar">
      </div>
      <button href="#!" class="btn btn-outline-white btn-md my-0 ml-sm-2" type="submit">Buscar</button>
    </form>
 </div>   
<table class="table table-bordered">
    <thead>
        <tr>
            <th>Nombre</th>
            <th>Categoria</th>
            <th>Descripcion</th>
            <th>Region</th>
            <th>Comuna</th>
            <th>Estado</th>
            <th>Accion</th>
        </tr>
    </thead>
    <tbody>
        {% if object_list%}
         {% for adv in object_list %}
        <tr>
            <td>{{ adv.name }}</td>
            <td>{{ adv.Type_advertisement}}</td>
            <td>{{ adv.description}}</td>
            <td>{{ adv.comuna.Reg }}</td>
            <td>{{ adv.comuna }}</td>
                {% if adv.state%}
                    <td>Activo</td>
                {% else%}
                    <td>Pendiente</td>
                {% endif %}
            <td>
                {% if adv.state%}
                    <a class="btn btn-danger" href="{% url 'adminActivar' adv.id  %}">Desactivar</a>
                {% else%}
                    <a class="btn btn-primary" href="{% url 'adminActivar' adv.id  %}">Activar</a>
                {% endif %}
                <a class="btn btn-primary" href="{% url 'adminUpdate' adv.id  %}">Editar</a>
                <a class="btn btn-danger" href="{% url 'adminDelete' adv.id  %}">Eliminar</a>
            </td>
        </tr>
        {% endfor %} {% else %}
        <h1>No hay emprendimientos que listar asociados a su cuenta</h1>
        <a class="btn btn-primary" href="{% url 'adminCreate'  %}">Nuevo</a>
        {% endif %}
    </tbody>
</table>
</div>{% endblock content %}