{% extends "generic.html" %} {% block content %}
<br>
<div class="container">
<div class="float-right  d-none">
    <form class="form-inline ml-auto">
      <div class="md-form my-0">
        <input class="form-control" type="text" placeholder="Buscar" aria-label="Buscar">
      </div>
      <button href="#!" class="btn btn-outline-white btn-md my-0 ml-sm-2" type="submit">Buscar</button>
    </form>
 </div>   
<table class="table table-bordered">
    <thead>
        <tr>
            <td>Nombre</td>
            <td>Evaluación</td>
            <td>Dirección</td>
            <td>Comuna</td>
            <td>Telefono</td>
            <td>Tipo</td>
            <td>Acciones</td>
        </tr>
    </thead>
    <tbody>
        {% if data%} {% for colegio in data %}
        <tr>
            <td>{{ colegio.Name }}</td>
            <td>
                {% for i in view.loop_range %} 
                {% if i <= colegio.Score %} 
                    <i class="icon-star"></i>
                    {% else %}
                        <i class="icon-star-empty"></i> 
                    {% endif %}
                {% endfor %}
            </td>
            <td>{{ colegio.Address}}</td>
            <td>{{ colegio.State_Province }}</td>
            <td>{{ colegio.Phone }}</td>
            <td>{{ colegio.Type }}</td>
            <td>
                <a class="btn btn-primary" href="{% url 'school_editar' colegio.Id %}">Editar</a>
                <a class="btn btn-danger" href="{% url 'school_delete' colegio.Id  %}">Eliminar</a>
            </td>
        </tr>
        {% endfor %} {% else %}
        <h1>No hay registros de escuelas</h1>
        {% endif %}
    </tbody>
</table>
            {% comment %} <div class="pagination ">
                <span class="step-links">
                    {% if page_obj.has_previous %}
                        <a href="?page={{ page_obj.previous_page_number }}" class="btn btn-primary ">Anterior</a>
                    {% endif %}
                    {% if page_obj.has_next %}
                        <a href="?page={{ page_obj.next_page_number }}" class="btn btn-primary">Siguiente</a>
                    {% endif %}
                </span>
            </div> {% endcomment %}
</div>
 {% endblock%}