{% extends 'base.html' %}
{% load static%}
{% block content %}


        <!-- Start: Data Table -->
        {% comment %} <table id="example" class="table table-striped table-bordered" cellspacing="0" width="100%">
         {% endcomment %}
         <table id="example" class="display" style="width:100%">
            <thead>
                <tr>
                    <th>Nombre</th>
                    <th>Categoria</th>
                    <th>Descripcion</th>
                    <th>Donde Ubicarlos</th>
                    <th>Region</th>
                    <th>Comuna</th>
                   
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>Tiger Nixon</td>
                    <td>System Architect</td>
                    <td>Edinburgh</td>
                    <td>
                    <strong>
                    <a href="https://www.instagram.com/maipuanuncio/" target="_blank" class="social-icons">
                        <i class="fa fa-instagram"></i></a>
                    <a href="https://www.instagram.com/maipuanuncio/" target="_blank" class="social-icons">
                        <i class="fa fa-whatsapp"></i></a>    
                    <a href="https://www.instagram.com/maipuanuncio/" target="_blank" class="social-icons">
                        <i class="fa fa-facebook"></i></a>
                    <a href="https://www.instagram.com/maipuanuncio/" target="_blank" class="social-icons">
                        <i class="fa fa-map-marker"></i></a>
                    <a href="https://www.instagram.com/maipuanuncio/" target="_blank" class="social-icons">
                        <i class="fa fa-globe"></i>
                        </a>
                    <a href="https://www.instagram.com/maipuanuncio/" target="_blank" class="social-icons">
                        <i class="fa fa-envelope-square"></i>
                        </a>
                    </strong>
                    </td>
                    <td>61</td>
                    <td>
                    Maipú
                    </td>
                </tr>
            </tbody>
        </table>
        <!-- End: Data Table -->
    <!-- End: Bold BS4 Footer Simple -->

{% endblock content %}

