
<!DOCTYPE html>
{% load static%}

<html>


<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>Anuncios</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.3/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=ABeeZee">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto+Slab:300,400|Roboto:300,400,700">
    <link rel="stylesheet" href="https://cdn.datatables.net/1.10.15/css/dataTables.bootstrap.min.css">
    <link rel="stylesheet" href="{% static 'css/styles.min.css' %} ">
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.21/css/jquery.dataTables.min.css">
</head>

<body>
    <!-- Start: Nav-center-custom -->
    <nav class="navbar navbar-dark navbar-expand-md sticky-top bg-dark">
        <div class="container-fluid"><button class="navbar-toggler" data-toggle="collapse" data-target="#navcol-1"><span
                    class="sr-only">Toggle navigation</span><span class="navbar-toggler-icon"></span></button>
            <div class="collapse navbar-collapse" id="navcol-1">
                <ul class="nav navbar-nav flex-grow-1">
                    <li class="nav-item" role="presentation"><a class="nav-link active"><i
                                class="fa fa-arrow-right"></i></a></li>
                    <li class="nav-item" role="presentation"><a class="nav-link scroll" href="{% url 'index' %}"
                            style="font-family: ABeeZee, sans-serif;">Inicio</a></li>
                    {% comment %} <li class="nav-item" role="presentation"><a class="nav-link scroll" href="#team" target="_top"
                            style="font-family: ABeeZee, sans-serif;">Team</a></li>
                    <li class="nav-item" role="presentation"><a class="nav-link scroll" href="#services"
                            style="font-family: ABeeZee, sans-serif;">Services</a></li> {% endcomment %}
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Comuna
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <a class="dropdown-item" href="#">Action</a>
                            <a class="dropdown-item" href="#">Another action</a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" href="#">Something else here</a>
                        </div>
                    </li> 
                    <li class="nav-item" role="presentation"><a class="nav-link" href="#"
                            style="font-family: ABeeZee, sans-serif;">Contacto</a></li>
                    <li class="nav-item" role="presentation"><a class="nav-link active"><i
                                class="fa fa-arrow-left"></i></a></li>                   
                </ul>
                    {% comment %} <ul class="nav navbar-nav navbar-right ">
                    {% if request.user.is_authenticated %}
                    <li class="nav-item" role="presentation"><a class="nav-link" href="{% url 'auth_logout' %}">Hola {{user.username}}</a></li>
                    <li class="nav-item" role="presentation"><a class="nav-link" href="{% url 'auth_logout' %}">Logout</a></li>
                    {%else%}
                    <li class="nav-item" role="presentation"><a class="nav-link" href="{% url 'registration_register' %}">Registrate y publica </a></li>
                    {% endif %}

                    {% if not request.user.is_authenticated and not "/accounts/login" in request.get_full_path %}
                    <li class="nav-item" role="presentation"><a class="nav-link" href="{% url 'auth_login' %}">Login</a></li>
                    {%endif%}
                    
                    </ul> {% endcomment %}
                    <ul class="nav navbar-nav flex-row justify-content-between ml-auto">
                    <li class="nav-item order-2 order-md-1"><a href="#" class="nav-link" title="settings"><i class="fa fa-cog fa-fw fa-lg"></i></a></li>
                    <li class="dropdown order-1">
                        <button type="button" id="dropdownMenu1" data-toggle="dropdown" class="btn btn-outline-secondary dropdown-toggle">
                        {% if user.is_authenticated %}
                            Usuario  {{user.first_name}} {{user.last_name }}
                        {% else%}
                        Login
                        {% endif %}
                        <span class="caret"></span></button>
                        <ul class="dropdown-menu dropdown-menu-right mt-2">
                            <li class="px-3 py-2">
                                {% if user.is_authenticated %}
                                    <div>
                                        {% if user.is_superuser%}
                                            <a href="">Crear Escuela</a>
                                            <br>
                                            <a href="">Crear Comuna</a>
                                            <br>
                                            <a href="">Crear Tipo Escuelas</a>
                                            <br>
                                            <div class="dropdown-divider"></div>
                                            <a href="">Listar Escuelas</a>
                                            <br>
                                        {% endif %}
                                        {% if user.is_superuser is False%}
                                        <a href="">Envia tu evaluacion</a>
                                        {% endif %}
                                    </div>
                                {% endif %}

                                <form class="form" action="{% url 'auth_login' %}" method='post'enctype="multipart/form-data">
                                {% comment %} <form id="login-form" action="{% url 'principal:login' %}" method="post" enctype="multipart/form-data"> {% endcomment %}
                                 {% csrf_token %}
                                    {% if  user.is_anonymous %}
                                        <div class="form-group">
                                            <input id="emailInput" placeholder="Usuario" class="form-control form-control-sm" type="text" required="" name="username">
                                        </div>
                                        <div class="form-group">
                                            <input id="passwordInput" placeholder="Password" class="form-control form-control-sm" type="password" required="" name="password">
                                        </div> 
                                    {% endif %}
                                    <div class="form-group">
                                        {% if user.is_authenticated %}
                                            <a href="{% url 'auth_logout' %}" class="btn btn-primary btn-block">Logout</a>
                                        {% else %}
                                            <button type="submit" class="btn btn-primary btn-block">Login</button>
                                            <a class="btn btn-primary btn-block" href="{% url 'registration_register' %}">Registrar</a>
                                        {% endif %}
                                    </div>
                                    <div class="form-group text-center">
                                    {% comment %} {% if  user.is_anonymous%}
                                        <small><a href="{% url 'password_reset' %}" >Olvidó su password?</a></small>
                                    {% endif %}     {% endcomment %}
                                    </div>
                                </form>
                            </li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <!-- End: Nav-center-custom -->
    <div class="container">
    {% block content %}
    
    {% endblock content %}

    </div>
    <!-- Start: Bold BS4 Footer Simple -->
    <footer id="myFooter" style="padding:0px;">
        <div class="container-fluid">
            <div class="row text-center">
                <div class="col-12">
                    <ul class="list-unstyled">
                        {% comment %} <li><a href="#">About Us</a></li> {% endcomment %}
                        <li><a href="#">Contactanos</a></li>
                        <li><a href="#">Terms</a></li>
                        {% comment %} <li><a href="#">Links</a></li> {% endcomment %}
                    </ul>
                    <p class="footer-copyright">© 2016 Copyright @maipuanuncio ~ Designed By &nbsp;<a href="#">Juanshocl</a></p>
                </div>
                <div class="col footer-social">
                <a href="#" class="social-icons">
                <i class="fa fa-facebook"></i></a>
                {% comment %} <a href="#" class="social-icons">
                <i class="fa fa-google-plus"></i></a> {% endcomment %}
                <a href="#" class="social-icons">
                <i class="fa fa-twitter"></i></a>
                {% comment %} <a href="#" class="social-icons">
                <i class="fa fa-linkedin"></i></a></div> {% endcomment %}
                <a href="https://www.instagram.com/maipuanuncio/" target="_blank" class="social-icons">
                <i class="fa fa-instagram"></i></a>
            </div>
        </div>
    </footer>
    <!-- End: Bold BS4 Footer Simple -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.3/js/bootstrap.bundle.min.js"></script>
    {% comment %} <script src="https://cdn.datatables.net/1.10.15/js/jquery.dataTables.min.js"></script> {% endcomment %}
    <script src="https://cdn.datatables.net/1.10.15/js/dataTables.bootstrap.min.js"></script>
    <script src="https://cdn.datatables.net/1.10.21/js/jquery.dataTables.min.js"></script>

    <script>
        $(document).ready(function() {
        $('#example').DataTable( {
            "scrollY":        "450px",
            "scrollCollapse": true,
            "paging":         false
        } );
    } );
    </script>
</body>

</html>